<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <% attributes = [:id, :email, :created_at, :updated_at]
      attribute_syms = attributes.map(&:to_sym) %>
      <% attributes.each do |attribute| %>
        <th><%= attribute %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% attribute_syms.each do |attribute_sym| %>
          <td><%= user[attribute_sym] %></td>
        <% end %>

        <td><%= link_to 'Shared Places', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(".nav .nav-link").on("click", function(){
    $(".nav").find(".active").removeClass("active");
    $(this).addClass("active");
  });
</script>
