// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map{
  width:100%;
  height:100%;
}
// Basic styling for map div, if height is not defined the div will show up with 0 px height
.container{
  max-width: 100%;
  margin-top: 15px;
}
