<div class="middle-box loginscreen animated fadeInDown">
  <h4>Editing Place</h4>
  
  <%= render 'form', place: @place %>
  
  <%= link_to 'Show', @place %> |
  <%= link_to 'Back', places_path %>
</div>
