<div class="middle-box loginscreen animated fadeInDown">
  <h4 class="text-center">New Place</h4>
  <%= render 'form', place: @place %>
  
  <%= link_to 'Back', places_path, class: "btn btn-sm btn-light btn-block" %>
</div>
